

/* -------------Mushroom path----------- */

#mushroom-path-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #000;

    width: 100%;
    height: auto;

    padding: 1rem;

}

.mushroom-path-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50vh;

    padding: 1rem;
}

#mushroom-path-section h2 {
    font-size: 40px;
    text-align: center;
    color: white;
    border-bottom: 1px solid orange;
}

#mushroom-path-section p {
    font-size: 25px;
    text-align: center;
    line-height: 2rem;
    color: white;
}

.counter-box {
    position: sticky;
    top: 100px;
    right: 10px;

    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.counter-box:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.counter-box span {
    color: white;
    padding: 15px;
    font-size: 50px;
    font-weight: bold;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%); 
}

#mushroom-path {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem 13rem;

    width: 100%;
    height: 200vh;

    padding: 5rem 2rem;
}

.mushroom {
    padding: 1rem;
}

.mushroom img {
    cursor: pointer;

    width: 150px;
    height: auto;
    object-fit: cover;
}

.mushroom img:hover {
    transform: scale(1.1);
    filter: drop-shadow(8px 8px 10px orange);
    transition: 0.5s;
}

.path-text-div {
    background-color: #000;

    width: 100%;
    height: auto;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.path-text-div h2 {
    width: 60%;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
}

/* ------------  BASKET  ----------- */

#basket {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 2rem;
}

#basket h3 {
    width: 60%;
    color: white;
    font-size: 25px;
    line-height: 2rem;
    text-align: center;
    margin-top: 2rem;
}

#basket-img {
    cursor: pointer;
}

#basket-img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.basket-tilt {
    animation: basket-tilt 1s ease-in-out;
}

@keyframes basket-tilt {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(90deg);
    }
    90% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.basket-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

#basket-fill {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

/* ---------- Mushroom info -------------- */

#mushroom-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
    height: auto;
    border: 3px solid blue;
}

.mushroom-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mushroom-card img {
    width: auto;
    height: 200px;
    object-fit: cover;
}
