

:root {
    --responsive-width: min(96%, 1400px);

    --100vh: 100vh;
    --50vh: 50vh;

    --green-underline: #A3C1AD;
}

/* ------------- mini sopp-spill ----------- */


/* ------------- Intro til spill ----------- */
#mushroom-path-section {
    background-image: url(IMG/aviewforest.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: auto;
}

.mushroom-path-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--responsive-width);
    height: var(--100vh);

    border: 1px solid white; 
    border-radius: 5px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5); 

    margin-bottom: 10rem;
}

#mushroom-path-section h2 {
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    padding: 1rem;
}

#mushroom-path-section p {
    font-size: 30px;
    
    line-height: 3rem;
    color: white;
    padding: 1rem;
    width: 60%;
}

/* ------------- Soppteller ----------- */

.counter-box {
    display: flex;
    
    position: sticky;
    top: 0;

    width: 350px;
    background-color: #1a1a2e;
    border: 10px solid var(--green-underline);
    border-radius: 10px; 
    /* margin: 0 auto; */
    padding: 0.5rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    font-family: 'Press Start 2P', cursive;
    text-align: left; 
}

.counter-box p {
    font-size: 20px;
    color: white; 
    margin: 0.5rem 0; 
}

.counter-box span {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

/* ------------- selve spilllayouten ----------- */

#mushroom-game {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: var(--responsive-width);
}

#mushroom-path {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem 1rem;

    width: 100%;
    height: 200vh;

    padding: 5rem 2rem;

    border: 5px solid red;
}

.mushroom {
    padding: 1rem;
}

.mushroom img {
    cursor: pointer;

    width: 150px;
    height: auto;
    object-fit: cover;
}

.mushroom img:hover {
    transform: scale(1.1);
    filter: drop-shadow(8px 8px 10px orange);
    transition: 0.5s;
}

.path-text-div {
    background-color: #000;

    width: 100%;
    height: auto;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.path-text-div h2 {
    width: 60%;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
}

/* ------------  BASKET  ----------- */

#basket {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    padding: 2rem;
}

#basket h3 {
    width: 60%;
    color: white;
    font-size: 25px;
    line-height: 2rem;
    text-align: center;
    margin-top: 2rem;
}

#basket-img {
    cursor: pointer;
}

#basket-img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.basket-tilt {
    animation: basket-tilt 1s ease-in-out;
}

@keyframes basket-tilt {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(90deg);
    }
    90% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.basket-outer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: end;
}

#basket-fill {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

/* ---------- Mushroom info -------------- */

#mushroom-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    width: 100%;
    height: auto;
    border: 3px solid blue;
}

.mushroom-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mushroom-card img {
    width: auto;
    height: 200px;
    object-fit: cover;
}
