

:root {
    --responsive-width: min(96%, 1400px);

    --100vh: 100vh;
    --50vh: 50vh;
}

/* ------------- mini sopp-spill ----------- */


/* ------------- Intro til spill ----------- */
#mushroom-path-section {
    background-image: url(IMG/forest1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: auto;

    padding:0;
}


.mushroom-path-intro {
    width: 100%;
    height: auto;

    border-radius: 5px; 
    background-color: black; 

    padding-bottom: 5rem;
}

.mushroom-path-text {
    font-size: 30px;
    line-height: 3rem;
    color: white;
    padding: 1rem;
    width: 60%;
}


/* ------------- Soppteller ----------- */

.counter-box {
    position: sticky;
    top: 0;
    margin: 0 auto;
    width: fit-content;
    padding: 1rem;
    border: 2px solid white;
    border-radius: 5px;

    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

.counter-box p {
    font-size: 20px;
    margin: 0;
    color: white; 
}

.counter-box span {
    color: #fff;
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-weight: bold;
}

/* ------------- selve spilllayouten ----------- */

#mushroom-game {
    width: 100%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#mushroom-path {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    gap: 5rem 4rem;

    margin: 0 auto;
    width: var(--responsive-width);
    height: auto;
}

.mushroom {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mushroom img {
    width: 150px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.mushroom img:hover {
    transform: scale(1.1);
    filter: drop-shadow(8px 8px 10px orange);
    transition: 0.5s;
}

.path-text-div {
    background-color: #000;

    width: 100%;
    height: auto;

    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.path-text-div h2 {
    width: 60%;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 2rem;
    margin-bottom: 2rem;
}


/* ------------  BASKET  ----------- */

#basket-section {
    width: 100%;
    height: auto;

    background-color: #000;

    border: red 3px solid;
}

#basket {
    width: var(--responsive-width);
    height: auto;

    display: flex;
    justify-content: center;
}

#basket-text {
    font-size: 25px;
    color: white;
    letter-spacing: 1px;
    line-height: 3rem;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2rem;
    width: 50%;
}

#basket-text span {
    font-weight: bold;
    color: #ffcc00;
}

/*
.basket-outer {
    width: 100%;
    height: auto;

    border: yellow 3px solid;
}
 
#basket-fill {
    width: 70%;
    height: auto;

    border: yellow 3px green;
} */

#basket-img {
    cursor: pointer;

    border: yellow 3px green;
}

#basket-img:hover {
    transform: rotate(10deg);
    transition: 0.5s;
}

.basket-tilt {
    animation: basket-tilt 1s ease-in-out;
}

@keyframes basket-tilt {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(90deg);
    }
    90% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
