/* -------------Mushroom path----------- */

#mushroom-path {
    background-image: url("IMG/path.png");
    background-attachment: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

.mushroom {
    margin: 10px;
    cursor: pointer;
    background-attachment: center;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/* ------------  HOME  ----------- */

#home {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-attachment: center;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("IMG/house.png");
}

/* ------------  BASKET  ----------- */

#basket {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    width: 100%;
    height: auto
}
/* ------------  Throw out  ----------- */

#throw-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: auto;
}


/* ------------  SCORE  ----------- */

#score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------- Read More -------------- */

#read-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    border: 1px solid black;
}

/* ---------- Article  -------------- */

#article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    border: 1px solid red;
}