* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.wrap-intro {

    background-image: url(IMG/tree-silouette.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;

    padding: 2rem;

    font-family: Arial, sans-serif;
}

/* ------------ text boxes ------ */


/* -------------INTRO FLUESOPP----------- */
#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

#intro-container {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro h1 {
    font-size: 40px;
    color: white;
    background-color: #000;
} 

#intro-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 60%;
    height: auto;

    text-align: center;
}

#intro-btn {
    font-size: 40px;
    background-color: transparent;
    border: none;
    margin-top: 2rem;
}

#intro-btn a {
    text-decoration: none;
    color: red;
}
/* class på <p> innsatt i intro-text div av JS */

.intro-text-div {
   
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.intro-text-div p {
    font-size: 30px;
    color: white;
    background-color: #000;
    padding: 1rem;
}




@keyframes fadeIn {
    0% {
        opacity: 0;
        transition: 0.5s;
    }
    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 300ms ease-in;
}

#fluesopp {
    width: 100px;
    height: 150px;
    cursor: pointer;
    background-attachment: center;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url("IMG/fluesopp.png");
}

#fluesopp:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/* -------------INTRO 2----------- */

/* -------------Mushroom path----------- */

#mushroom-path {
    background-image: url("IMG/path.png");
    background-attachment: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
}

.mushroom {
    margin: 10px;
    cursor: pointer;
    background-attachment: center;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/* ------------  HOME  ----------- */

#home {
    width: 100%;
    height: 100vh;

    margin-top: 20px;

    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

    background-attachment: center;
    background-position: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("IMG/home.png");
}

/* ------------  BASKET  ----------- */

#basket {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    width: 100%;
    height: auto
}
/* ------------  Throw out  ----------- */

#throw-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    width: 100%;
    height: 50vh;
}


/* ------------  SCORE  ----------- */

#score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------- Read More -------------- */

#read-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;

    width: 100%;
    height: 50vh;
}

/* ---------- Article  -------------- */

#article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: grey;

    width: 100%;
    height: 50vh;
}

#article p {
    width: 80%;
}